<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<File name="GTM_FILE" filename="../logs/addressbook.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.1.9} %m%n</Pattern>
			</PatternLayout>
		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
	   		<PatternLayout>
	   			<Pattern>%d %p %c{1.1.9} %m%n</Pattern>
	   		</PatternLayout>
	   	</Console>
   	</Appenders>
  	<Loggers>
  		<Logger name="org.apache.jcs" level="warn"/>
  		<Logger name="org.apache.cxf" level="warn"/>
  		<Root level="info">
  			<AppenderRef ref="STDOUT"/>
  			<AppenderRef ref="GTM_FILE"/>
  		</Root>
  	</Loggers>
</Configuration>